.root {
  width: 100%;
  z-index: 100;
  position: absolute;
  top: 6%;
  left: 6%;
  display: flex;
  align-items: center;
  font-family: Montserrat;
  font-weight: 900;

  div {
    height: 100px;
    width: 110px;
    margin-bottom: 24px;
    background: url('/img/spriteLogo.svg') 0px 0px;
    animation: play 0.5s steps(2) 4 1s, step 1.5s linear 1 1s;
    position: relative;
    left: 0;
  }
  h1 {
    font-size: 160px;
    margin-bottom: 40px;
    font-weight: 900;
    padding: 1.5px;
  }

  h1.l1 {
    opacity: 1;
    animation: hide 1.7s linear 1.2s;
  }
  h1.l2 {
    opacity: 1;
    animation: hide 1.7s linear 1.7s;
  }
  h1.l3 {
    opacity: 1;
    animation: hide 1.7s linear 2.15s;
  }
}
@keyframes hide {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes play {
  100% {
    background-position: -220px;
  }
}

@keyframes step {
  100% {
    left: 300px;
  }
}
